Submit a new post:<form #frm="ngForm" method="POST" (ngSubmit)="submitPost(frm.value);">
  <input type="text" placeholder="Enter text here" required name='text' id='text' ngModel>
  <button type="submit">Submit</button>
</form>
<br>
<div *ngIf="!showError">
  <div *ngIf="posts.length == 0">
    No posts yet!
  </div>
  <div *nfIf="posts.length != 0">
    <div *ngFor="let postItem of posts">
      <div class="card">
        <div class="container">
          <h4><b>Post created on: {{postItem.creationTime}}</b></h4>
          <h4>Total upvotes: {{postItem.upvotes}}</h4>
          <p>{{postItem.text}}</p>
          <button type="button" (click)=upvotePost(postItem._id)>Upvote</button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<div class="loader" *ngIf="loading && !showError"></div>

<div *ngIf="showError">
  <h2>Error while fetching posts from the server</h2>
</div>