<form #frm="ngForm" method="POST" (ngSubmit)="submitPost(frm.value);">
  <input type="text" placeholder="Enter text here" required name='text' id='text' ngModel>
  <button type="submit">Submit</button>
</form>
<br>
<div *ngIf="!showError">
  <div *ngFor="let postItem of posts">
    <div class="card">
      <div class="container">
        <h4><b>{{postItem.creationTime}}</b></h4>
        <p>{{postItem.text}}</p>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="loader" *ngIf="loading"></div>

<div *ngIf="showError">
  <h2>Error while fetching posts from the server</h2>
</div>